<h3>ユーザー情報編集</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, 'メールアドレス' %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>以下のメールアドレスの確認待ちです: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :username, 'ユーザー名' %><br />
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :password, '新しいパスワード' %> <i>(変更しない場合は空欄)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, '新しいパスワードの確認' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :hospital_name, '病院名' %><br />
    <%= f.text_field :hospital_name %>
  </div>

  <div class="field">
    <%= f.label :department, '所属科' %><br />
    <%= f.select :department, User.departments.map{|k, v| [t("department.#{k}"), v]} %>
  </div>

  <div class="field">
    <%= f.label :current_password, '現在のパスワード'%> <i>(編集には現在のパスワードが必要です)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "ユーザー情報を編集する" %>
  </div>
<% end %>

<h3>アカウントを消去する</h3>

<p><%= button_to "アカウント消去", registration_path(resource_name), class: 'destructive', data: { confirm: "本当によろしいですか?" }, method: :delete %></p>

<%= link_to "Back", :back %>
