<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, 'メールアドレス' %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :username, 'ユーザー名' %><br />
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :password, 'パスワード' %>
    <% if @validatable %>
    (<%= @minimum_password_length %> 文字以上)
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'パスワード確認' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :prefecture, '都道府県' %><br />
    <%= f.select :prefecture, Constants::PREFECTURES.map{|k, v| [v, v]}, prompt: '選択してください' %>
  </div>

  <div class="field">
    <%= f.label :hospital_name, '病院名' %><br />
    <%= f.text_field :hospital_name %>
  </div>

  <div class="field">
    <%= f.label :department, '所属科' %><br />
    <%= f.select :department, User.departments.map{|k, v| [t("department.#{k}"), v]}, prompt: '選択してください' %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
