<div class='paper' data-pubmed-id='<%= paper.pubmed_id %>'>
  <div class='summary <%="favorited" if user.favorite_list.has_paper?(paper)%>'>
    <div class='favorite'>
      <% if user.favorite_list.has_paper?(paper) %>
        <i class='fa fa-star' data-favorite-list-id='<%= user.favorite_list.id %>'></i>
      <% else %>
        <i class='fa fa-star-o' data-favorite-list-id='<%= user.favorite_list.id %>'></i>
      <% end %>
    </div>
    <div class='popularity'>
      <%= paper.popularity if paper.popularity != 0 %>
    </div>
    <div class='title'>
      <%= paper.title %>
    </div>
    <div class='journal'>
      <%= paper.journal_name %>
    </div>
    <div class='published-date'>
      <%= "#{paper.published_date.strftime('%Y/%m/%d') if paper.published_date.present?}" %>
    </div>
    <div class='authors'>
      <%= paper.authors_list %>
    </div>
    <% if (defined? paper_list) && paper_list.present? %>
      <div class='remove-paper'>
        <i class='fa fa-remove'></i>
      </div>
    <% end %>
  </div>

  <div class='detail' style='display:none;'>
    <div class='close-bar'><i class='fa fa-times'></i></div>
    <div class='title'>
      <%= paper.title %>
    </div>
    <div class='favorite'>
      <% if user.favorite_list.has_paper?(paper) %>
        <i class='fa fa-star' data-favorite-list-id='<%= user.favorite_list.id %>'></i>
      <% else %>
        <i class='fa fa-star-o' data-favorite-list-id='<%= user.favorite_list.id %>'></i>
      <% end %>
    </div>
    <% if paper.popularity.present? %>
      <div class='popularity'>
        <%= paper.popularity %>
      </div>
    <% end %>
    <div class='source'>
      <%= "#{paper.journal_name}
           #{paper.published_date.strftime('%Y/%m/%d') + ';' if paper.published_date.present?}
           #{paper.volume}
           #{'(' + paper.issue.to_s + ')' if paper.issue.present?}
           #{':' + paper.pages if paper.pages.present?}" %>
    </div>
    <div class='authors'>
      <%= paper.authors_list %>
    </div>
    <div class='abstract'>
      <%= paper.abstract %>
    </div>
    <div class='menu'>
      <p>
        <%= link_to t('goto_pubmed'), paper.pubmed_path, target: '_blank', class: 'pubmed-link' %>
      </p>
      <%= form_tag add_paper_paper_lists_path, method: :put do %>
        <p>
          <%= hidden_field_tag :pubmed_id, paper.pubmed_id %>
          <%= label_tag :id, '抄読会（リスト）：' %>
          <%= select_tag :id,
                        options_for_select(
                          user.all_paper_lists.map{|pl| [pl.title, pl.id] unless pl.id == ((defined? paper_list) && paper_list.try(:id))}.compact
                        ), required: true, class: 'target-paper-list' %>
          に読んだ日
          <%= date_field_tag :date, params[:date], class: 'date-input' %>
          この論文を
          <%= submit_tag "登録する", name: nil, class: 'add-paper-btn flat-button-identity2', data: {disable_with: '登録中...'} %>
        </p>
      <% end if user.present? %>
      <% if (defined? paper_list) && paper_list.present? %>
        <p>
          <%= link_to 'このリストから削除する',
                      remove_paper_paper_list_path(id: (defined? paper_list) && paper_list.id, paper_id: paper.id),
                      method: :delete, class: 'remove-paper-btn flat-button-red', data: {confirm: '本当に削除しますか？'} %>
        </p>
      <% end %>
    </div>
  </div>
</div>
