<div class='<%="paper#{" last" if is_last}"%>'>
  <div class='summary'>
    <div class='popularity'>
      <%= paper.popularity %>
    </div>
    <div class='title'>
      <%= paper.title %>
    </div>
    <div class='authors'>
      <%= paper.authors_list %>
    </div>
    <div class='abstract'>
      <%= paper.abstract %>
    </div>
  </div>
  <div class='detail' style='display:none;'>
    <div class='close-bar'></div>
    <div class='title'>
      <%= paper.title %>
    </div>
    <div class='popularity'>
      <%= paper.popularity %>
    </div>
    <div class='source'>
      <%= "#{paper.journal_name} #{paper.published_date.try(:strfdate, '%Y-%m-%d')};#{paper.volume}(#{paper.issue}):#{paper.pages}" %>
    </div>
    <div class='authors'>
      <%= paper.authors_list %>
    </div>
    <div class='abstract'>
      <%= paper.abstract %>
    </div>
    <div class='pubmed-link'>
      <%= link_to t('goto_pubmed'), paper.pubmed_path, target: '_blank' %>
    </div>
  </div>
</div>