<div class='paper-search-form'>
  <div class='form-title'>登録したい論文を探す</div>
  <%= form_tag papers_path, method: :get do %>
    <p>
      <%= text_field_tag :term, params[:term], required: true, class: 'keyword-input', placeholder: 'キーワード' %>
    </p>
    <p>
      <%= label_tag :min_date, '出版年月日' %>
      <%= date_field_tag :min_date, params[:min_date], class: 'mindate-input' %>
      から
      <%= date_field_tag :max_date, params[:max_date], class: 'maxdate-input' %>
      <%= submit_tag "検索する", name: nil, class: 'submit-btn flat-button-identity2', data: {disable_with: '検索中...'} %>
    </p>
  <% end %>
</div>