<div class='<%="single-paper-list#{" last" if is_last}"%>'>
  <div class='icon'>
    <% if paper_list.favorite? %>
      <i class="fa fa-star"></i>
    <% elsif paper_list.read? %>
      <i class="fa fa-bookmark"></i>
    <% end %>
  </div>
  <div class='title'>
    <%= paper_list.title %>
  </div>
  <% if paper_list.general? %>
    <div class='created_at'>
      <%= paper_list.created_at.strftime('%Y/%m/%d %H:%M') %>作成
    </div>
    <div class='updated_at'>
      <%= paper_list.updated_at.strftime('%Y/%m/%d %H:%M') %>更新
    </div>
    <%= link_to '削除', paper_list_path(id: paper_list.id),
                               method: :delete,
                               class: 'destroy-btn flat-button-identity-red',
                               data: {confirm: '本当に削除してよろしいですか？'} %>
  <% end %>
  <%= link_to 'リストを見る', paper_list_path(id: paper_list.id), class: 'show-btn flat-button-lightorange' %>
</div>