<h1 class='paper-lists-title'><%= title %></h1>
<div class='paper-lists'>
  <% paper_lists.each_with_index do |paper_list, idx| %>
    <div class='<%="single-paper-list#{" last" if (idx + 1 == paper_lists.count)}"%>' data-id=<%= paper_list.id %>>
      <div class='icon'>
        <% if user.id.in?(paper_list.shared_users.pluck(:id)) %>
          <i class="fa fa-share-alt"></i>
        <% elsif paper_list.favorite? %>
          <i class="fa fa-star"></i>
        <% elsif paper_list.read? %>
          <i class="fa fa-bookmark"></i>
        <% end %>
      </div>
      <div class='title'>
        <%= paper_list.title %>
      </div>
      <% if paper_list.user.id != user.id %>
        <div class='owner'>
          <%= paper_list.user.display_name %>さんが作成
        </div>
      <% end %>
      <div class='count'>
        論文数：<%= paper_list.papers.count %>件
      </div>

      <% if paper_list.user.id == user.id && paper_list.general? %>
        <%= link_to '削除', paper_list_path(id: paper_list.id),
                                   method: :delete,
                                   class: 'destroy-btn flat-button-red',
                                   data: {confirm: '本当に削除してもよろしいですか？'} %>
      <% end %>
      <% if editable?(paper_list, user) %>
        <%= link_to '編集', edit_paper_list_path(id: paper_list.id), class: 'edit-btn flat-button-normal' %>
      <% end %>
    </div>
  <% end %>
</div>
