<div class='<%="single-paper-list#{" last" if is_last}"%>'>
  <div class='summary'>
    <div class='title'>
      <%= paper_list.title %>
    </div>
    <div class='created_at'>
      <%= paper_list.created_at.strftime('%Y/%m/%d %H:%M') %>作成
    </div>
    <div class='updated_at'>
      <%= paper_list.updated_at.strftime('%Y/%m/%d %H:%M') %>更新
    </div>
    <%= link_to 'リストを見る', paper_list_path(id: paper_list.id), class: 'flat-button-identity' %>
  </div>
</div>