<div class='paper-list-form'>
  <div class='form-title'>新しい論文リスト(個人用)を作成する</div>
  <%= form_for(@paper_list, url: paper_lists_path) do |f| %>
    <p>
      <%= f.text_field :title, required: true, class: 'title-input', placeholder: 'リスト名' %>
    </p>
    <p>
      <%= f.label :is_public, 'このリストを公開する' %>
      <%= f.check_box :is_public %>
      <%= f.submit '作成する', class: 'submit-btn flat-button-identity2', data: {disable_with: '作成中...'} %>
    </p>
  <% end %>
  <div class='end-of-form'></div>
</div>